/* Despite being named .scss, we are actually compiling using postcss with the nested & autoprefixer plugins
(see rollup.config.json), so not all SCSS features are available. */
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #222222;
    margin: 0;
    *{
        box-sizing: border-box;
    }

    .hud{
        position: absolute;
        width: 100%;
    }

    .topbar{
        position: absolute;
        left: 0px;
        right: 250px;
        height: 60px;

        .search-container{
            padding: 15px;
            width: 100%;

            #search-input{
                height: 30px;
                padding-left: 10px;
                border-radius: 20px;
                width: calc( 100% - 100px );
            }
            #search-input:focus{
                outline: none;
            }
            .search-button{
                height: 35px;
                width: 90px;
                border-radius: 20px;
                background: linear-gradient(to bottom, orange, darkorange);
                border-color: #cd8000;
            }
            #search-button:focus{
                outline: none;
            }
        }

    }

    .viz{
        height: 100%;
        width: 100%;
        float:left;
    }

    .sidebar{
        position:absolute;
        right: 0px;
        width: 250px;
        right: 0px;
        top: 0px;

        .viz-selector{
            width: 100%;
            padding: 10px;
            cursor: pointer;

            .tree-selector{
                background-image: url(/img/tree2-150.png);
                background-position-x: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .pack-selector{
                background-image: url(/img/circlepack-150.png);
                background-position-x: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .sun-selector{
                background-image: url(/img/sunburst-150.png);
                background-position-x: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            div{
                float:left;
                width: 33%;
                height: 80px;
            }
        }
    }

    @media (max-width: 500px) {
        .topbar {
            width: 100%;
        }
        .sidebar {
            top: 60px;
            width: 100%;
        }
    }
}

#tree{
    .node{
        circle {
            fill: #99877a;
        }

        text {
            font: 12px sans-serif;
            fill: #888;
        }
    }

    .node--internal circle {
        fill: orange;
    }

    .node--internal text {
        /*text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;*/
    }

    .link {
        fill: none;
        stroke: #555;
        stroke-opacity: 0.4;
        stroke-width: 1.5px;
    }
}

#pack{
    .node {
        cursor: pointer;
    }

    .node:hover {
        stroke: #000;
        stroke-width: 1.5px;
    }

    .node--leaf {
        //fill: white;
    }

    .label {
        font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        text-shadow: 0 1px 0 #ddd, 1px 0 0 #ddd, -1px 0 0 #ddd, 0 -1px 0 #ddd;
    }

    .label,
    .node--root,
    .node--leaf {
        pointer-events: none;
    }
}

#sunburst{
    #centerText{
        font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }

    path:hover{
        stroke: white;
    }
}