/* Despite being named .scss, we are actually compiling using postcss with the nested & autoprefixer plugins
(see rollup.config.json), so not all SCSS features are available. */
body{
    background-color: #222222;
}

#tree{
    .node{
        circle {
            fill: #99877a;
        }

        text {
            font: 12px sans-serif;
            fill: #888;
        }
    }

    .node--internal circle {
        fill: orange;
    }

    .node--internal text {
        /*text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;*/
    }

    .link {
        fill: none;
        stroke: #555;
        stroke-opacity: 0.4;
        stroke-width: 1.5px;
    }
}

#pack{
    .node {
        cursor: pointer;
    }

    .node:hover {
        stroke: #000;
        stroke-width: 1.5px;
    }

    .node--leaf {
        fill: white;
    }

    .label {
        font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }

    .label,
    .node--root,
    .node--leaf {
        pointer-events: none;
    }
}




